<mat-toolbar>
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenavtwo.toggle()"
    [ngClass]="{ hidden: !deviceSm }">
    <fa-icon aria-label="Side nav toggle icon" [icon]="menu" size="lg"></fa-icon>
  </button>
  <span>Números</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenavtwo [opened]="!deviceSm" role="navigation" [mode]="!deviceSm ? 'side' : 'over'">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['current']">Actual</a>
      <a mat-list-item [routerLink]="['historical']">Hist&oacute;rico</a>
      <a mat-list-item [routerLink]="['regional']">Mapa Nacional</a>
      <a mat-list-item [routerLink]="['states']">Estados</a>
      <a mat-list-item [routerLink]="['SIR']">
        Modelo SIR
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
