<ng-template #spinner>
  <div class="mat-spinner" *ngIf="(sloading$|async) && !(sloaded$|async)" fxLayout="column"
    fxLayoutAlign="center center">
    <mat-spinner strokeWidth="18" [diameter]="120" title="Buscando">
    </mat-spinner>
    <span>Buscando ...</span><br>
  </div>
</ng-template>

<div *ngIf="!(sloading$|async) && (summary$|async) as summary;else spinner">

  <div>
    <mat-form-field class="d-block" color="primary" appearance="outline">
      <mat-label>Selecciona un país</mat-label>
      <mat-select panelClass="space-grey" [(ngModel)]="selectedCountry"
        (selectionChange)="onChangeSelection($event.value)">
        <mat-option [value]="global">Selecciona un país</mat-option>
        <mat-option *ngFor="let country of summary.Countries" [value]="country">
          <img class="mr-2 img-flag" src="assets/flags/{{country.CountryCode.toLowerCase()}}.svg"
            alt="{{country.Country}}">{{country.Country|titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <button [disabled]="!selectedCountry" mat-raised-button [routerLink]="[selectedCountry?selectedCountry.Slug:'']">
      Información detallada
    </button> -->
  </div>

  <div class="row justify-content-center">
    <app-summary-card class="pr-2" [total]="global"> </app-summary-card>
    <app-summary-card class="pr-2" *ngIf="selectedCountry" [total]="selectedCountry"></app-summary-card>
  </div>
  <!--  <mat-card *ngIf="!(dataLoading$|async)" fxLayout="row" fxLayoutAlign="center center">
    <app-historical-by-country [lineChartData]="dataSets" [lineChartLabels]="time">
    </app-historical-by-country>
  </mat-card> -->
  <app-country *ngIf="selectedCountry;else world" [countryIn]="selectedCountry"></app-country>
  <ng-template #world>
    <app-world-map *ngIf="(countryPoints$|async)" [countries]="global.Countries"></app-world-map>
  </ng-template>
  <!--   <app-country-map></app-country-map>-->
  <!-- <app-states-timeline></app-states-timeline> -->
</div>
