<div class="px-5 pt-2" [class.mat-elevation-z4]="false">
  <div class="breadcrumb" fxLayout="row" fxLayoutAlign="center">
    <div class="text-center">
      <p class="display-4 d-none d-sm-block">La nueva normalidad</p>
      <p class="mat-h1 d-none d-sm-block"><small class="text-muted">¿Cuándo? o, ¿A caso regresará la vida a una
          normalidad?</small></p>
      <p class="d-block d-sm-none" [ngStyle]="{ fontSize: '32px'}">La nueva normalidad</p>
      <p class="mat-h4 d-block d-sm-none"><small class="text-muted">¿Cuándo? o, ¿A caso regresará la vida a una
          normalidad?.</small></p>
    </div>
  </div>
</div>
<div>
  <p>Específicamente, a este grupo de epidemiólogos se les preguntó cuándo podrían comenzar personalmente a participar
    nuevamente en 20 actividades diarias comunes.

    Las respuestas, basadas en los últimos datos disponibles públicamente y respaldados científicamente, variaron según
    los supuestos en torno a los planes locales de respuesta ante una pandemia. Los expertos también señalaron que sus
    respuestas cambiarían dependiendo de los posibles tratamientos y las tasas de prueba en sus áreas locales.

    Estas son las actividades que la mayoría de los profesionales ven comenzar tan pronto como este verano, o dentro de
    un año:</p>
</div>
<div class=px-5>
  <table border="1">
    <thead>
      <th>Actividad</th>
      <th>Este verano</th>
      <th>2-3 meses</th>
      <th>1 año</th>
      <th>Nunca más</th>
    </thead>
    <tbody>
      <tr>
        <td>Llevar por correo sin precauciones</td>
        <td> 64%</td>
        <td>16%</td>
        <td>17%</td>
        <td>3%</td>
      </tr>
      <tr>
        <td>Consultar al médico para una revisión de rutina</td>
        <td>60%</td>
        <td>29%</td>
        <td>11%</td>
        <td>menos del 1% </td>
      </tr>
      <tr>
        <td>Salir de casa durante la noche a poca distancia</td>
        <td>56%</td>
        <td>26%</td>
        <td>18%</td>
        <td>menos del 1% </td>
      </tr>
      <tr>
        <td>Cortarse el pelo en un salón de belleza o peluquería</td>
        <td>41%</td>
        <td>39%</td>
        <td>19%</td>
        <td>1%</td>
      </tr>
      <tr>
        <td>Asistir a una cena pequeña</td>
        <td> 32%</td>
        <td>46%</td>
        <td>21%</td>
        <td>menos del 1% </td>

      </tr>
      <tr>
        <td>Caminar o hacer un picnic al aire libre con amigos</td>
        <td>31%</td>
        <td>41%</td>
        <td>27%</td>
        <td>menos del 1% </td>

      </tr>
      <tr>
        <td>Llevar a los niños a la escuela el campamento o la guardería</td>
        <td>30%</td>
        <td>55%</td>
        <td>15%</td>
        <td>menos del 1% </td>

      </tr>
      <tr>
        <td>Trabajar en una oficina compartida</td>
        <td>27%</td>
        <td>54%</td>
        <td>18%</td>
        <td>1%</td>
      </tr>
      <tr>
        <td>Llevar a los niños a casa de amigos a jugar</td>
        <td>23%</td>
        <td> 47%</td>
        <td> 29%</td>
        <td> 1%</td>
      </tr>
      <tr>
        <td>Viajar en metro o autobús</td>
        <td>20%</td>
        <td> 40%</td>
        <td>39%</td>
        <td>1%</td>
      </tr>
      <tr>
        <td>Visitar a un familiar o amigo anciano en su hogar</td>
        <td>20%</td>
        <td>41%</td>
        <td>39%</td>
        <td>menos del 1% </td>

      </tr>
      <tr>
        <td>Viajar en avión</td>
        <td>20%</td>
        <td>44%</td>
        <td> 37%</td>
        <td>menos del 1% </td>

      </tr>
      <tr>
        <td>Cenar en un restaurante</td>
        <td> 16%</td>
        <td>56%</td>
        <td>28%</td>
        <td>menos del 1% </td>

      </tr>
      <tr>
        <td>Hacer ejercicio en un gimnasio</td>
        <td>14%</td>
        <td>42%</td>
        <td>40%</td>
        <td>4</td>
      </tr>
    </tbody>
  </table>
</div>
