<div class="text-center">
  <div class="mb-4 view-title">{{"wellcome-header-title"| translate}}</div>
  <div class="view-subtitle">{{"wellcome-header-description" |translate}}</div>
</div>
<div class="mx-3">
  <!--  <carousel [noPause]="false">
    <ng-container *ngFor="let item of cardItems">
      <slide>
        <img src="{{item.imageUrl}}" alt="First slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block text-black-50">
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
        </div>
      </slide>
    </ng-container>
  </carousel> -->
  <app-dummy-text></app-dummy-text>
</div>
