<div class="card" *ngIf="casesCountry">
  <div class="card-header text-center">
    <p class="mt-n3 mat-h2">
      <img class="mr-2 img-flag" src="assets/flags/{{casesCountry.abbreviation.toLowerCase()}}.svg"
        alt="{{casesCountry.name}}"><span>{{casesCountry.name|titlecase}}</span>
      <small class="text-muted"> (población: {{casesCountry.population|number}})</small>
    </p>
  </div>
  <div class="p-2 m-1 mb-n3 card-body" fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="mt-n2 text-center">
          <fa-icon class="text-warning fa-icon" size="2x" [icon]="faHeadSideVirus">
          </fa-icon>
          <p class="mt-n1">Confirmados</p>
        </div>
        <div class="mt-n4 text-right">
          <p class="my-n2 mat-h3">{{casesCountry.confirmed|number}}</p>
          <p class="mb-n2 mat-h4 text-warning">&sim;{{casesCountry.confirmed/casesCountry.population|percent:'.2'}}</p>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="mt-n2 text-center">
          <fa-icon class="text-danger fa-icon" size="2x" [icon]="faSkullCrossbones"></fa-icon>
          <p class="mt-n1">Defunciones:</p>
        </div>
        <div class="mt-n4 text-right">
          <p class="my-n2 mat-h3">{{casesCountry.deaths|number}}</p>
          <p class="mb-n2 mat-h4 text-danger">&sim;{{casesCountry.deaths/casesCountry.population|percent:'.2'}}</p>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="mt-n2 text-center">
          <fa-icon class="text-success fa-icon" size="2x" [icon]="faHeadSideMask"></fa-icon>
          <p class="mt-n1">Recuperados:</p>
        </div>
        <div class="mt-n4 text-right">
          <p class="my-n2 mat-h3">{{casesCountry.recovered|number}}</p>
          <p class="mb-n2 mat-h4 text-success">&sim;{{casesCountry.recovered/casesCountry.population|percent:'.2'}}</p>
        </div>
      </div>
    </div>
    <app-cases-doughnut [doughnutChartLabels]="['','','']"
      [doughnutChartData]="[casesCountry.confirmed, casesCountry.deaths, casesCountry.recovered]">
    </app-cases-doughnut>
    <div fxLayout="column" fxLayoutAlign="center end">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="mt-n4 text-right">
          <p class="my-n2 mat-h3">{{casesCountry.confirmed|number}}</p>
          <p class="mb-n2 mat-h4 text-warning">&sim;{{casesCountry.confirmed/casesCountry.population|percent:'.2'}}</p>
        </div>
        <div class="mt-n2 text-center">
          <fa-icon class="text-warning fa-icon" size="2x" [icon]="faHeadSideVirus">
          </fa-icon>
          <p class="mt-n1">Confirmados</p>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="mt-n4 text-right">
          <p class="my-n2 mat-h3">{{casesCountry.deaths|number}}</p>
          <p class="mb-n2 mat-h4 text-danger">&sim;{{casesCountry.deaths/casesCountry.population|percent:'.2'}}</p>
        </div>
        <div class="mt-n2 text-center">
          <fa-icon class="text-danger fa-icon" size="2x" [icon]="faSkullCrossbones"></fa-icon>
          <p class="mt-n1">Defunciones:</p>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="mt-n4 text-right">
          <p class="my-n2 mat-h3">{{casesCountry.recovered|number}}</p>
          <p class="mb-n2 mat-h4 text-success">&sim;{{casesCountry.recovered/casesCountry.population|percent:'.2'}}</p>
        </div>
        <div class="mt-n2 text-center">
          <fa-icon class="text-success fa-icon" size="2x" [icon]="faHeadSideMask"></fa-icon>
          <p class="mt-n1">Recuperados:</p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-1 card-footer text-center"><span class="text-muted">Ultima
      actualización:&nbsp;{{casesCountry.updated}}</span>
  </div>
</div>
