<div class="card" *ngIf="country">
  <mat-list class="card-header">
    <mat-list-item>
      <img matListIcon src="assets/flags/{{(country.id)?(country.id|lowercase):'all'}}.svg" alt="{{country.name}}">
      <ng-content matLine></ng-content>
      <div class="text-muted"> población {{country.population|number}} hab.</div>
    </mat-list-item>
  </mat-list>
  <div class="card-body p-2" fxLayout="row wrap">
    <mat-card class="mat-elevation-z0 bg-transpartent" fxFlex="0 1 calc(25%)" fxFlex.lt-lg="0 1 calc(33.3%)"
      fxFlex.lt-md="0 1 calc(50%)" fxFlex.lt-sm="100%">
      <mat-card-header>
        <fa-icon matCardAvatar class="text-warning fa-icon" size="2x" [icon]="faHeadSideVirus"></fa-icon>
        <mat-card-title>
          {{country.confirmed|number}}&nbsp;
          <small class="text-warning">{{country.confirmed/country.population|percent:'.2'}}</small>
        </mat-card-title>
        <mat-card-subtitle> Confirmados </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="mat-elevation-z0 bg-transpartent" fxFlex="0 1 calc(25%)" fxFlex.lt-lg="0 1 calc(33.3%)"
      fxFlex.lt-md="0 1 calc(50%)" fxFlex.lt-sm="100%">
      <mat-card-header>
        <fa-icon matCardAvatar class="text-danger fa-icon" size="2x" [icon]="faSkullCrossbones"></fa-icon>
        <mat-card-title>
          {{country.deaths|number}}&nbsp;
          <small class="text-danger">{{country.deaths/country.population|percent:'.2'}}</small>
        </mat-card-title>
        <mat-card-subtitle> Muertes </mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class="mat-elevation-z0 bg-transpartent" fxFlex="0 1 calc(25%)" fxFlex.lt-lg="0 1 calc(33.3%)"
      fxFlex.lt-md="0 1 calc(50%)" fxFlex.lt-sm="100%">
      <mat-card-header>
        <fa-icon matCardAvatar class="text-success fa-icon" size="2x" [icon]="faHeadSideMask"></fa-icon>
        <mat-card-title>
          {{country.recovered|number}}&nbsp;
          <small class="text-success">{{country.recovered/country.population|percent:'.2'}}</small>
        </mat-card-title>
        <mat-card-subtitle>Recuperados</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class="mat-elevation-z0 bg-transpartent" fxFlex="0 1 calc(25%)" fxFlex.lt-lg="0 1 calc(33.3%)"
      fxFlex.lt-md="0 1 calc(50%)" fxFlex.lt-sm="100%">
      <mat-card-header>
        <fa-icon matCardAvatar class="text-secondary fa-icon" size="2x" [icon]="faHandHoldingMedical"></fa-icon>
        <mat-card-title>
          {{country.administered|number}}
          &nbsp; <small class="text-secondary">{{country.administered/country.population|percent:'.2'}}</small>
        </mat-card-title>
        <mat-card-subtitle>Dosis Administradas </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="mat-elevation-z0" fxFlex="0 1 calc(25%)" fxFlex.lt-lg="0 1 calc(33.3%)"
      fxFlex.lt-md="0 1 calc(50%)" fxFlex.lt-sm="100%">
      <mat-card-header>
        <fa-icon matCardAvatar class="text-info" size="2x" [icon]="faFirstAid"></fa-icon>
        <mat-card-title>
          {{country.p_vaccinated|number}}&nbsp;
          <small class="text-info">{{country.p_vaccinated/country.population|percent:'.2'}}</small>
        </mat-card-title>
        <mat-card-subtitle>Parcialmente vacunados</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="mat-elevation-z0 bg-transpartent" fxFlex="0 1 calc(25%)" fxFlex.lt-lg="0 1 calc(33.3%)"
      fxFlex.lt-md="0 1 calc(50%)" fxFlex.lt-sm="100%">
      <mat-card-header>
        <fa-icon matCardAvatar class="text-primary" size="2x" [icon]="faSyringe"></fa-icon>
        <mat-card-title>
          {{country.vaccinated|number}}&nbsp;
          <small class="text-primary">{{country.vaccinated/country.population|percent:'.2'}}</small>
        </mat-card-title>
        <mat-card-subtitle>Vacunados</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>

<!-- <div fxLayout="row">
    <div class="px-2" fxLayout="column" fxLayoutAlign="start center">
      <fa-icon class="text-danger fa-icon" size="2x" [icon]=""></fa-icon>
      <span class="mat-h6">
      </span>
    </div>
    <div>
      <span class="mat-h5"></span>
      <p class="mat-h3">{{cases.deaths|number}}</p>
    </div>
  </div>
  <div fxLayout="row">
    <div class="px-2" fxLayout="column" fxLayoutAlign="start center">
      <fa-icon class="text-success fa-icon" size="3x" [icon]="faHeadSideMask"></fa-icon>
      <span class="mat-h6">
        &sim;{{cases.recovered/cases.population|percent:'.2'}}</span>
    </div>
    <div>
      <span class="mat-h5">Recuperados:</span>
      <p class="mat-h3">{{cases.recovered|number}}</p>
    </div>
  </div>
  <div fxLayout="column">
    <div fxLayout="row">
      <div>
        <span class="mat-h5">Administradas:</span>
        <p class="mat-h3">{{vaccine.administered|number}}</p>
      </div>
      <div class="px-2" fxLayout="column" fxLayoutAlign="start center">
        <fa-icon class="text-primary fa-icon" size="2x" [icon]="faHandHoldingMedical"></fa-icon>
        <span class="mat-h6">
          &sim;{{vaccine.administered/cases.population|percent:'.2'}}</span>
      </div>
    </div>
    <div fxLayout="row">
      <div>
        <span class="mat-h5">Vacunados (1/2):</span>
        <p class="mat-h3">{{vaccine.people_partially_vaccinated|number}}</p>
      </div>
      <div class="px-2" fxLayout="column" fxLayoutAlign="start center">
        <fa-icon class="text-info fa-icon" size="2x" [icon]="faSyringe"></fa-icon>
        <span class="mat-h6">
          &sim;{{vaccine.people_partially_vaccinated/cases.population|percent:'.2'}}</span>
      </div>
    </div>
    <div fxLayout="row">
      <div>
        <span class="mat-h5">Vacunados:</span>
        <p class="mat-h3">{{vaccine.people_vaccinated|number}}</p>
      </div>
      <div class="px-2" fxLayout="column" fxLayoutAlign="start center">
        <fa-icon class="text-secondary fa-icon" size="2x" [icon]="faShieldVirus"></fa-icon>
        <span class="mat-h6">
          &sim;{{vaccine.people_vaccinated/cases.population|percent:'.2'}}</span>
      </div>

    </div> -->

<!-- <div class="p-1 card-footer text-center">
  <span class="text-muted">
    Última actualización:&nbsp;{{country.updated}}</span>
</div> -->
