<div class="p-5" [class.mat-elevation-z4]="false">
  <div class="breadcrumb" fxLayout="row" fxLayoutAlign="center">
    <div class="text-center">
      <p class="display-4 d-none d-sm-block">Modelos simples</p>
      <p class="mat-h1 d-none d-sm-block">
        <small class="text-muted"
          >Implementación de modelos básicos en epidemiología.</small
        >
      </p>
      <p class="d-block d-sm-none" [ngStyle]="{ fontSize: '32px' }">
        Modelos simples
      </p>
      <p class="mat-h3 d-block d-sm-none">
        <small class="text-muted"
          >Implementación de modelos básicos en epidemiología.</small
        >
      </p>
    </div>
  </div>
</div>
<div class="px-5">
  <div
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxLayoutGap="10px"
    fxLayoutAlign="flex-start"
  >
    <mat-card fxFlex="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%">
      <mat-card-header>
        <mat-card-title>Modelo SIR</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <canvas
          baseChart
          [datasets]="sirData"
          [labels]="lineChartLabels"
          [options]="{ responsive: true }"
          [colors]="lineChartColors"
          [legend]="true"
          [chartType]="'line'"
        >
        </canvas>
      </mat-card-content>
    </mat-card>
    <form
      [formGroup]="sirForm"
      novalidate
      (ngSubmit)="onSubmit()"
      fxFlex="0 1 calc(20% - 10px)"
      fxFlex.lt-sm="100%"
    >
      <mat-card>
        <mat-card-header>
          <mat-card-title>Parámetros de simulación</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input
              matInput
              #totalPop
              placeholder="Población total"
              type="number"
              formControlName="totalPop"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              #beta
              placeholder="Tasa de contacto"
              type="number"
              formControlName="beta"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              #gamma
              placeholder="Tasa media de recuperación"
              type="number"
              formControlName="gamma"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              #i0
              placeholder="Personas inicialmente infectadas"
              type="number"
              formControlName="i0"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              #r0
              placeholder="Personas inicialmente recuperadas"
              type="number"
              formControlName="r0"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              #totalTime
              placeholder="Tiempo de simulación (días)"
              type="number"
              formControlName="totalTime"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              #delta_t
              placeholder="Paso de tiempo"
              type="number"
              formControlName="delta_t"
            />
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">
            Submit
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
