#firehouse {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("/assets/images/layer1.png"),
    url("/assets/images/layer2.png"), url("/assets/images/layer3.png"),
    url("/assets/images/layer4.png"), url("/assets/images/layer5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  background-size: 120%;
}
.view-title {
  color: whitesmoke;
  font-size: calc(2rem + 1.5vw);
  font-weight: 800;
  font-family: "fredoka one", cursive;
  text-shadow: -2px -1px 1px gray;
}
.view-subtitle {
  //font-family: "comfortaa";
  color: darkmagenta;
  font-size: calc(0.8rem + 1vw);
  font-weight: 400;
}
