<div class="mat-spinner" *ngIf="(loading$|async)" fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner strokeWidth="10" [diameter]="90" title="Buscando">
  </mat-spinner>
  <span>Buscando ...</span><br>
</div>
<div class="overflow-auto;" *ngIf="!(loading$|async) && (coins$|async)">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
    <mat-form-field appearance="outline" class="no-label-field">
      <mat-label class="label">Name</mat-label>
      <mat-select [formControl]="nameFilter">
        <mat-option value="">-- Select a Name --</mat-option>
        <mat-option *ngFor="let source of availableSources" [value]="source.value">
          {{source.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="no-label-field">
      <mat-label class="label">Symbol</mat-label>
      <mat-select [formControl]="symbolFilter" placeholder="selecciona un simbolo">
        <mat-option value="">-- Select a Symbol --</mat-option>
        <mat-option *ngFor="let status of availableContactStatuses" [value]="status.value">
          {{status.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="clearFilter()">Clear Filter</button>
  </div>
  <div class="d-block">
    <button class="float-start" mat-raised-button color="warn" (click)="compareMany(selection)"
      [hidden]="selection.selected.length<2">Compare ({{selection.selected.length|json}})</button>
  </div>
  <mat-table *ngIf="dataSource" matSort aria-label="Elements">
    <!-- Rank Column -->
    <ng-container matColumnDef="rank">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.rank}}</mat-cell>
    </ng-container>
    <!-- Id Column -->
    <!--  <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      < mat-cell *matCellDef="let row">{{row.id}}</>
    </ng-container> -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div fxLayout="row" fxLayoutAlign="start center">
          <img class="mr-2 img-table-list"
            src="https://static.coincap.io/assets/icons/256/{{row.symbol.toLowerCase()}}.png">{{row.name}}
        </div>
      </mat-cell>
    </ng-container>
    <!-- PriceUsd Column -->
    <ng-container matColumnDef="priceUsd">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Precio</mat-header-cell>
      <mat-cell *matCellDef="let row">US{{row.priceUsd|currency}}</mat-cell>
    </ng-container>
    <!-- <ng-container matColumnDef="marketCapUsd">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Capital de mercado</mat-header-cell>
      <mat-cell *matCellDef="let row">US{{row.marketCapUsd|currency}}</mat-cell>
    </ng-container> -->
    <!-- Symbol Column -->
    <!--  <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</mat-header-cell>
      < mat-cell *matCellDef="let row">{{row.symbol}}</>
    </ng-container> -->
    <!-- Supply Column -->
    <!-- <ng-container matColumnDef="supply">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Supply</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.supply|currency}}</mat-cell>
    </ng-container> -->
    <!-- MaxSupply Column -->
    <!--  <ng-container matColumnDef="maxSupply">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Max Supply</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.maxSupply|currency}}</mat-cell>
    </ng-container>-->
    <ng-container matColumnDef="vwap24Hr">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Volumen del mercado</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.vwap24Hr|currency}}</mat-cell>
    </ng-container>
    <!-- Variación Column -->
    <ng-container matColumnDef="changePercent24Hr">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Variación</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.changePercent24Hr|number}}%</mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true;"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="[row.id]" (click)="selection.toggle(row)">
    </mat-row>
    <!-- Row shown when there is no matching data. -->
    <mat-row class="mat-row" *matNoDataRow>
      <mat-cel class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</mat-cel>
    </mat-row>
  </mat-table>
  <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
