.mat-table {
  width: 100%;
}

.img-table-list {
  width: 30px;
  height: auto;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-header-row,
mat-row {
  min-height: 40px;
  max-height: 80px;
}
.mat-column-rank,
.mat-column-select {
  flex: none;
  width: 50px;
}
