<div class="container">
  <mat-accordion [togglePosition]="'after'">
    <mat-expansion-panel [hideToggle]="false" *ngFor="let crypto of cryptos">
      <mat-expansion-panel-header>
        <mat-list dense>
          <mat-list-item>
            <img matListAvatar src="https://static.coincap.io/assets/icons/256/{{crypto.symbol.toLowerCase()}}.png">
            <mat-panel-title class="mb-n1" matLine>
              <span class="mat-h2">{{crypto.name}}</span>
            </mat-panel-title>
            <mat-panel-description class="mt-n1" matLine>
              <span class="mat-h5">{{crypto.changePercent24Hr}}</span>
            </mat-panel-description>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel-header>
      <div class="bg-info" *ngIf="panelOpenState">
        <mat-card class="chart-wrapper">
          <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
          </canvas>
        </mat-card>
      </div>
      <!-- <mat-action-row>
        <button mat-button (click)="onAction($event)">Action1</button>
        </mat-action-row> -->
    </mat-expansion-panel>
  </mat-accordion>

</div>
