<div class="px-5 pt-2" [class.mat-elevation-z4]="false">
  <div class="breadcrumb" fxLayout="row" fxLayoutAlign="center">
    <div class="text-center">
      <p class="display-4 d-none d-sm-block">Series de tiempo</p>
      <p class="mat-h1 d-none d-sm-block">
        <small class="text-muted">Datos sobre la evoluci&oacute;n de la pandemia desde el comienzo.</small>
      </p>
      <p class="d-block d-sm-none" [ngStyle]="{ fontSize: '32px' }">
        Series de tiempo
      </p>
      <p class="mat-h3 d-block d-sm-none">
        <small class="text-muted">Datos sobre la evoluci&oacute;n de la pandemia desde el comienzo.</small>
      </p>
    </div>
  </div>
</div>

<div fxLayoutAlign="center center">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>

<div *ngIf="!isLoading" class="pl-3 pr-3 pb-5" fxLayout="column">
  <mat-card [class.mat-elevation-z6]="true" class="my-2" fxFlex="100%">
    <mat-card-header>
      <mat-icon mat-card-avatar svgIcon="es" aria-hidden="false" aria-label="mexico flag icon"></mat-icon>
      <mat-card-title>Resultados de pruebas COVID-19</mat-card-title>
      <mat-card-subtitle>Fuente:
        <a mat-button target="_blank" aria-label="Enlase al sitio official de Mexico"
          href="https://www.gob.mx/salud/documentos/datos-abiertos-bases-historicas-direccion-general-de-epidemiologia">Datos
          Abiertos
        </a>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <canvas baseChart [datasets]="acumData" [labels]="timeBarLabels" [options]="{ responsive: true }"
        [colors]="lineChartColors" [legend]="true" [chartType]="'line'" [plugins]="[]">
      </canvas>
    </mat-card-content>
  </mat-card>

  <mat-card [class.mat-elevation-z6]="true" class="my-2" fxFlex="100%">
    <mat-card-header>
      <mat-icon mat-card-avatar svgIcon="es" aria-hidden="false" aria-label="mexico flag icon"></mat-icon>
      <mat-card-title>Casos acumulados</mat-card-title>
      <mat-card-subtitle>La cantidad de casos desde los inicios de la
        pandemia.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <canvas baseChart [datasets]="cumulativeData" [labels]="lineChartLabels" [options]="{ responsive: true }"
        [colors]="lineChartColors" [legend]="true" [chartType]="'line'" [plugins]="[]">
      </canvas>
    </mat-card-content>
  </mat-card>

  <mat-card [class.mat-elevation-z6]="true" class="my-2" fxFlex="100%">
    <mat-card-header>
      <mat-card-title>Nuevos casos por día</mat-card-title>
      <mat-card-subtitle>El numero de casos que se registaron por día.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <canvas baseChart [datasets]="newData" [labels]="lineChartLabels" [options]="{ responsive: true }"
        [colors]="lineChartColors" [legend]="true" [chartType]="'line'" [plugins]="[]">
      </canvas>
    </mat-card-content>
  </mat-card>
</div>
