$bg-main: #345f23;
$primary-color: #006086;
$primary-dark-color: #004561;
$brown-color: #5a4a14;
$orange-color: #d34300;
$border-color: #dcdcdc;
$text-shadow-color: #cacaca;
$success-color: #207000;
.dark-theme {
  $success-color: #acdb9a;
}
