<div class="d-block">

  <mat-form-field *ngIf="(countries$|async) as countries" appearance="outline">
    <mat-label>Intervalo de tiempo</mat-label>
    <mat-select placeholder="Placeholder" (selectionChange)="onSelectChange($event.value)">
      <mat-option value="">-- Selecciona un país --</mat-option>
      <mat-option *ngFor="let country of countries" [value]="country">
        {{country.Country}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="(summary$|async) as summary">
  <div>
    <div>Última actualización:&nbsp;{{summary.Global.Date|date:'medium'}}</div>
    <div>Casos confirmados:&nbsp;{{summary.Global.TotalConfirmed|number}}({{summary.Global.NewConfirmed|number}})</div>
    <div>Casos de muertes:&nbsp;{{summary.Global.TotalDeaths|number}}({{summary.Global.NewDeaths|number}})</div>
    <div>Casos recuperados:&nbsp;{{summary.Global.TotalRecovered|number}}({{summary.Global.NewRecovered|number}})</div>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Intervalo de tiempo</mat-label>
    <mat-select placeholder="Placeholder" (selectionChange)="onChangeSelection($event.value)">
      <mat-option value="">Global</mat-option>
      <mat-option *ngFor="let country of summary.Countries" [value]="country">
        {{country.Country}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="selectedCountry">
    <div>Última actualización:&nbsp;{{selectedCountry.Date|date:'medium'}}</div>
    <div>Casos confirmados:&nbsp;{{selectedCountry.TotalConfirmed|number}}({{selectedCountry.NewConfirmed|number}})
    </div>
    <div>Casos de muertes:&nbsp;{{selectedCountry.TotalDeaths|number}}({{selectedCountry.NewDeaths|number}})</div>
    <div>Casos recuperados:&nbsp;{{selectedCountry.TotalRecovered|number}}({{selectedCountry.NewRecovered|number}})
    </div>
  </div>


</div>
<app-historical-by-country *ngIf="!(loading$|async);else spinner" [lineChartData]="dataPoints"
  [lineChartLabels]="dataLabels">
</app-historical-by-country>
<ng-template #spinner>
  <div class="mat-spinner" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner strokeWidth="10" [diameter]="75">
    </mat-spinner>
    <span>Buscando ...</span><br>
  </div>
</ng-template>
