<carousel [noPause]="false">
  <ng-container *ngFor="let item of cardItems">
    <slide>
      <img src="{{item.imageUrl}}" alt="First slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block text-black-50">
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
      </div>
    </slide>
  </ng-container>
</carousel>


<div class="px-5 pt-2" [class.mat-elevation-z4]="false">
  <div class="breadcrumb" fxLayout="row" fxLayoutAlign="center">
    <div class="text-center">
      <p class="display-4 d-none d-sm-block">Información general</p>
      <p class="mat-h1 d-none d-sm-block">
        <small class="text-muted">En esta sección encontraras información del impacto del COVID-19 en
          diferentes aspectos de la sociedad.</small>
      </p>
      <p class="d-block d-sm-none" [ngStyle]="{ fontSize: '32px' }">
        Información general
      </p>
      <p class="mat-h4 d-block d-sm-none">
        <small class="text-muted">En esta sección encontraras información del impacto del COVID-19 en
          diferentes aspectos de la sociedad.</small>
      </p>
    </div>
  </div>
</div>
<div class="px-5">
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
    <ng-container *ngFor="let item of cardItems">
      <mat-card [class.mat-elevation-z6]="true" class="mb-2" fxFlex="0 1 calc(33.3% - 10px)"
        fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%">
        <mat-card-header>
          <mat-card-title>
            {{ item.title }}
          </mat-card-title>
          <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content> </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
    </ng-container>
  </div>
</div>
<!-- <div fxLayout="row">
  <div fxLayoutAlign="space-between cener" fxLayoutGap="20px">
    <button mat-raised-button color="primary" [routerLink]="['/information/covid-risk']">Riesgos laborales</button>
    <button mat-raised-button color="accent" [routerLink]="['/under-construction']">Infografías</button>
    <button mat-raised-button color="warn" [routerLink]="['/information/return-to-normal']">La nueva
      normalidad</button>
  </div>
</div> -->
