<div fxLayout="row" fxLayoutAlign="center center">
  <div class="view-title">{{ "coronavirus-header-title" | translate }}</div>
  <!--  <div class="my-4 view-subtitle">{{"coronavirus-header-description" | translate}}</div> -->
</div>
<div *ngIf="(countryLoaded$|async) && !(loadingCountry$|async) && (vaccinesLoaded$|async) && !(loadingVaccine$|async)">
  <div *ngIf="(country$|async) as country">
    <div class="my-4">
      <app-cases-card [country]="country">
        <mat-form-field>
          <mat-select [(ngModel)]="countryName" (selectionChange)="onChangeSelection($event.value)">
            <mat-optgroup *ngFor="let continent of continents" [label]="continent.name" [disabled]="continent.disabled">
              <mat-option *ngFor="let country of continent.countries" [value]="country.name">
                <img class="mr-2 img-flag" src="assets/flags/{{country.id|lowercase}}.svg" alt="{{country.name}}">
                {{country.name}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </app-cases-card>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center"
  *ngIf="(vaccinesLoaded$ | async) && (summaryLoaded$ | async); else spinner">
  <div fxFlex *ngIf="!(loadingSummary$ | async) && (summary$ | async) as summary">
    <!--   <app-global-summary *ngIf="timeLine$ | async as timeLine" [timeLine]="timeLine" [summary]="summary"
      [vaccine]="vaccines$ | async">
    </app-global-summary> -->
  </div>
</div>

<ng-template #spinner>
  <div class="mat-spinner" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner strokeWidth="8" [diameter]="64" title="Buscando">
    </mat-spinner>
    <span>Buscando ...</span><br />
  </div>
</ng-template>
