<div fxLayout="row" fxLayoutAlign="center center">
  <div class="view-title">{{"coronavirus-header-title" | translate}}</div>
  <!--  <div class="my-4 view-subtitle">{{"coronavirus-header-description" | translate}}</div> -->
</div>
<div class="my-4">
  <div fxLayout="row" fxLayoutAlign="center center">
    <app-cases-card [casesCountry]="global|async"></app-cases-card>
  </div>
</div>
<div *ngIf="(loaded$|async) && !(loading$|async) && (countryCases$|async);else spinner">
  <mat-form-field class="d-block" color="primary" appearance="outline">
    <mat-label>Selecciona un país</mat-label>
    <mat-select panelClass="space-grey" [(ngModel)]="abbreviation" (selectionChange)="onChangeSelection($event.value)">
      <mat-option>Datos mundiales</mat-option>
      <mat-optgroup *ngFor="let continent of continents" [label]="continent.name" [disabled]="continent.disabled">
        <mat-option *ngFor="let country of continent.countries" [value]="country.abbreviation">
          <img class="mr-2 img-flag" src="assets/flags/{{country.abbreviation|lowercase}}.svg"
            alt="{{country.country}}">
          {{country.country}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="(loaded$|async) && !(loading$|async) && (countryCases$|async);else spinner">
  <app-world-map [country]="countryCases$|async" [abbreviation]="abbreviation"></app-world-map>
</div>


<!--  <div class="row justify-content-center">
    <app-cases-card class="pr-2" *ngIf="currentGlobalCases$|async" [casesCountry]="currentGlobalCases$|async">
    </app-cases-card>
  </div> -->




<ng-template #spinner>
  <div class="mat-spinner" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner strokeWidth="8" [diameter]="64" title="Buscando">
    </mat-spinner>
    <span>Buscando ...</span><br>
  </div>
</ng-template>
