<div class="px-5 pt-2" [class.mat-elevation-z4]="false">
  <div class="breadcrumb" fxLayout="row" fxLayoutAlign="center">
    <div class="text-center">
      <p class="display-4 d-none d-sm-block">Mapa Nacional</p>
      <p class="mat-h1 d-none d-sm-block">
        <small class="text-muted">Mapa interactivo con división política de la República Mexicana.</small>
      </p>
      <p class="d-block d-sm-none" [ngStyle]="{ fontSize: '32px' }">
        Mapa Nacional
      </p>
      <p class="mat-h3 d-block d-sm-none">
        <small class="text-muted">Mapa interactivo con división política de la República Mexicana.</small>
      </p>
    </div>
  </div>
</div>
<div class="px-3 pb-5">
  <mat-card [class.mat-elevation-z6]="true">
    <div class="map-container">
      <div class="map-frame">
        <div id="map"></div>
      </div>
    </div>
  </mat-card>
</div>
